SUPABASE_URL=https://eiqigurfdcffdkdxzrby.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpcWlndXJmZGNmZmRrZHh6cmJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3Nzk5NjAsImV4cCI6MjA5NTM1NTk2MH0.Jy1LM1Ile3zxBBNvcucqoqZzOIUogNfMCu-PmruIlXA